{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Social{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<script>
    $(document).ready(function(){
        $(".like-button").click(function(){
          var clickedLikeButton = $(this);
          $.post("{% url 'posts:like'%}",
          {
            post_id : clickedLikeButton.val(),
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          function(data,status){
            if(data.is_liked){
              if(!clickedLikeButton.hasClass("liked"))
              {
                clickedLikeButton.addClass("liked");
                clickedLikeButton.html("favorite")
              }
            }
            else{
              if(clickedLikeButton.hasClass("liked"))
              {
                clickedLikeButton.removeClass("liked");
                clickedLikeButton.html("favorite_border")
              }
            }
            $('#'+clickedLikeButton.val()).html( + data.like_count + ' likes');
          });
        });
    
        
        $("#comment-send").click(function(){
            var clickedButton = $(this);
            clickedButton.prop('disabled', true)
          
            $.post("{% url 'posts:comment'%}",
            {
              post_id : clickedButton.val(),
              comment : $(".comment-input").val(),
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            function(data,status){
              if(data.success)
              {
                location.reload();
              }
              else
              {
                clickedButton.prop('disabled', false)
              }
            });
        });
    });
</script>
<body>
    <div id="topbar">
        {% block topbar %}
        <ul class="topbar-nav">
            {% if user.is_authenticated %}
            <li>{{ user.get_username }}</li>
            <li><a style="color: red; font-weight: bold;" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
            <li><a  style="color: rgb(0, 162, 255); font-weight: bold;" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
           
        </ul>
        {% endblock %}
    </div>
 
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>