{% load static %}
<div class="post">
    <div class="header">
        {% block header %}
        <img class="profile-pic" src="{{ MEDIA_URL }}{{post.owner.profile_pic.url}}">
        <strong>
          @{{ post.owner }}
        </strong>
        {% endblock header %}
    </div>
   
    <div class="media">
        {% block media %}
            <img src="{{ MEDIA_URL }}{{post.media_path.url}}" alt="My image">
        {% endblock media %}
    </div>
    
    <div class="bottom">
      <div class="buttons">
        <div class="buttons-left">
            {% block buttons-left %}
                {% if post.is_liked %} 
                <button value="{{post.id}}" class="like-button material-icons liked">
                  favorite
                </button>
                {% else %}
                <button value="{{post.id}}" class="like-button material-icons">
                  favorite_border
                </button>
                {% endif %}
            
                
            {% endblock buttons-left %}
        </div>
        <div class="buttons-right">
            {% block buttons-right %}
                <span class="material-icons">
                  bookmark_border
                </span>
            {% endblock buttons-right %}
        </div>
    </div>
      
    {% block precomment-section %}
        <strong id={{post.id}}>{{ post.num_likes }} likes</strong>
    {% endblock precomment-section %}

    {% block description %}
        <p class="comment" ><strong>@{{ post.owner }}</strong>{{post.media_desc}}</p>
    {% endblock description%}

    <div class="comments">
        {% block comments %}
        <ul>
            {% for comment in post.comment_set.all %}
            <li>
                <img class="profile-pic" src="{{ MEDIA_URL }}{{comment.user.profile_pic.url}}">
                <p class="comment"><strong>@{{comment.user}}</strong>{{ comment.comment_text }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endblock comments %}
    </div>

    {% block postcomment-section %}
    <div class="comment-section">
        <input type="text" name="" id="" class="comment-input">
        <button id="comment-send" value="{{post.id}}">Send</button>
    </div>
    {% endblock postcomment-section %}
    
</div>
</div> 